html{
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
    
}
.body-background
{
    
    background-image: url(../img/55837.jpg);
    background-color: darkcyan;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header
{
    width: 100%;
    height: 50px;
    background-color: rgb(105, 206, 105);
    position: fixed;
    z-index: 9999;
}
.header h3
{
    margin-top: auto;
    text-align: center;
    color: white;
    padding: 10px;
    
}
/* .header-p
{
    width: 100%;
    height: 50px;
    background-color: rgb(105, 206, 105);
}
.header-p h3
{
    margin-top: auto;
    text-align: center;
    color: white;
    padding: 10px;
     
}*/
.footer
{
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: rgb(209, 209, 209);
    padding: 5px;
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    
}
main
{
    margin: 0 auto;
    padding: 30px;
}

.row
{
    display: flex;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home-info
{
    padding: 1px;
    background-color: whitesmoke;
}

/*indivisual css*/
.menu 
{
    display: inline-block;
    width: 100%;
}
.main-menu
{
    display: inline-block;
    text-align: right;
    margin-right: 40px;
}
  
.main-menu ul 
{
    margin : 0;
    padding : 0;
    position : relative;
}
.main-menu ul li 
{
    display: inline-block;
    padding: 0;
    position: relative;
}
.main-menu ul li a {
    color: white;
	display: block;
	font-size: 10px;
	padding: 16px 6px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	position: relative;
	font-family: 'Poppins', sans-serif;
}
.main-menu ul li a:hover 
{
    background-color: white;
    color: black;
    transition : all 0.4s 0s ease;
}

.section-color
{
    background-color: whitesmoke;
}
.right-orn
{
    float: right !important;
}